doctype html
html
  head
    title Manage Cities - City Finder
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    main
      header
        nav
          ul
            li: a(href="/") Home
            li: a(href="/user_dashboard") Dashboard
            li: a(href="/logout") Logout

      section
        h1 Manage Cities
        p Welcome, #{user.username}!
        a(href="/cities/create") Add New City
        if cities.length === 0
          p No cities found.
        else
          table
            thead
              tr
                th Name
                th Country
                th Population
                th Flag
                th Unicode Flag
                th Dial Code
                th Latitude
                th Longitude
                th Actions
            tbody
              each city in cities
                tr
                  td= city.name
                  td= city.country
                  td= city.population || 'N/A'
                  td= city.flag ? city.flag : 'N/A'
                  td= city.unicode_flag || 'N/A'
                  td= city.dial_code || 'N/A'
                  td= city.lat || 'N/A'
                  td= city.lng || 'N/A'
                  td
                    a(href="/cities/edit/" + city.id) Edit
                    form(action="/cities/delete/" + city.id, method="POST", style="display:inline")
                      button(type="submit") Delete